.DS_Store
__pycache__/
.ipynb_checkpoints
.idea/
data/*
!data/prompts
!data/legacy_prompts
!data/completions
!data/clips/demo/
!data/fonts
# Getting gitignore exception to work on 1 file is a little tricky.
!data/icons/
data/icons/*
!data/icons/icon.png
# Again, ignore most of this dir except for a couple files which are loaded in openai_utils.
!data/misc/
data/misc/*
!data/misc/sample_stream_response.pkl
!data/misc/sample_response.pkl
*egg-info*
lib/dist
*.swp
main.spec
dist
build
main.spec
output/
tmp/
alexa/*.log
alexa/conversations/*
# Logger is accidentally saving logs here for some reason. Will try to fix but in the meantime block them from being committed.
notebooks/data/
notebooks/nb019*
# Testing dvc tool for potential prompt tracking.
!data/tmp/dvc_test.txt
!*.dvc
