.DS_Store
__pycache__/
.ipynb_checkpoints
.idea/
data/*
!data/prompts
!data/completions
!data/clips/demo/
!data/fonts
# Getting gitignore exception to work on 1 file is a little tricky.
!data/icons/
data/icons/*
!data/icons/icon.png
*egg-info*
lib/dist
*.swp
main.spec
dist
build
main.spec
output/
tmp/
alexa/*.log
alexa/conversations/*
