# Comically bloated atm but I just want to see if this will work on the old laptop at all.
absl-py==1.0.0
addict==2.2.1
aiobotocore==2.3.2
aiofiles==0.4.0
aiohttp==3.7.3
aiohttp-retry==2.4.6
aioitertools==0.7.1
alabaster==0.7.12
albumentations==0.4.6
alembic==1.4.2
allennlp==1.3.0
allennlp-models==1.3.0
altair==4.1.0
altgraph==0.17
amqp==5.0.2
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
aniso8601==1.2.0
antlr4-python3-runtime==4.8
anyio==3.2.1
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.0
appscript==1.1.0
arcade==2.3.4
argh==0.26.2
arrow==0.14.5
ask-sdk-core==1.17.1
ask-sdk-model==1.33.1
ask-sdk-runtime==1.17.1
asn1crypto==1.2.0
astor==0.8.1
astroid==2.3.3
astropy==3.2.3
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncssh==2.10.1
atomicwrites==1.3.0
atpublic==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
auto-py-to-exe==2.9.0
Automat==0.8.0
autopep8==1.4.4
awscli==1.20.6
azure-ai-formrecognizer==3.2.0b2
azure-common==1.1.28
azure-core==1.22.1
azure-storage-blob==12.4.0
Babel==2.7.0
backcall==0.1.0
backoff==1.11.1
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
banana-dev==2.0.2
base58==2.0.1
beautifulsoup4==4.8.1
billiard==3.6.3.0
binaryornot==0.4.4
bitarray==1.1.0
bkcharts==0.2
bleach==3.1.0
blessings==1.5.1
blinker==1.4
blis==0.4.1
bokeh==2.1.1
booste==0.2.9
boto==2.49.0
boto3==1.16.56
botocore==1.24.21
bottle==0.12.19
bottle-websocket==0.2.9
Bottleneck==1.3.1
bump2version==1.0.1
cached-property==1.5.2
cachetools==4.1.0
catalogue==2.0.6
category-encoders==2.2.2
celery==5.0.5
celluloid==0.2.0
certifi==2021.10.8
cffi==1.13.2
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==2.0.7
chromedriver-binary==78.0.3904.11.0
chronological==0.1.1
click==7.1.2
click-completion==0.5.2
click-didyoumean==0.0.3
click-help-colors==0.8
click-log==0.3.2
click-plugins==1.1.1
click-repl==0.1.6
cloudpickle==2.0.0
clyent==1.2.2
cmudict==1.0.2
colorama==0.3.9
coloredlogs==5.0
colour==0.1.5
comet-git-pure==0.19.16
comet-ml==3.1.16
commonmark==0.9.1
conda==4.7.12
conda-build==3.18.8
conda-package-handling==1.6.0
conda-verify==3.4.2
configobj==5.0.6
conllu==4.2.1
constantly==15.1.0
construct==2.5.3
contextlib2==0.6.0.post1
cookiecutter==1.6.0
coverage==4.5.4
coveralls==2.0.0
cryptography==37.0.2
cssselect==1.1.0
cursor==1.3.4
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
cytoolz==0.10.1
dash==1.19.0
dash-bootstrap-components==0.11.3
dash-core-components==1.15.0
dash-cytoscape==0.2.0
dash-daq==0.5.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
dask==2.9.0
databricks-cli==0.11.0
dataclasses==0.6
datasets==2.2.1
datasketch==1.5.1
dearpygui==0.6.415
decorator==4.4.1
defusedxml==0.6.0
demjson==2.2.4
Deprecated==1.2.7
dictdiffer==0.9.0
diff-match-patch==20181111
dill==0.3.3
diskcache==5.4.0
Distance==0.1.3
distlib==0.3.4
distributed==2.9.0
distro==1.7.0
dm-tree==0.1.7
docker==4.3.0
docopt==0.6.2
docutils==0.15.2
dpath==2.0.6
dtreeviz==0.5
dulwich==0.20.42
dvc==2.10.2
dvc-render==0.0.5
dvclive==0.8.2
editdistance==0.6.0
Eel==0.12.4
einops==0.3.0
elastic-apm==6.9.1
elasticsearch==7.10.0
emoji==1.7.0
en-core-web-sm==3.2.0
eng-to-ipa==0.0.2
english-words==1.1.0
entrypoints==0.3
enum-compat==0.0.3
epitran==1.16
et-xmlfile==1.0.1
ethnicolr==0.8.0
everett==1.0.2
Faker==2.0.1
fancycompleter==0.9.1
farm-haystack==1.5.0
fastai2==0.0.30
fastcache==1.1.0
fastcore==1.0.0
fastprogress==0.2.4
fastscript==0.1.2
fasttext==0.9.2
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.6.0
fire==0.3.1
flake8==3.7.9
Flask==1.1.1
Flask-Ask==0.9.7
Flask-Compress==1.4.0
flatbuffers==1.12
flatten-dict==0.4.2
flufl.lock==7.0
forwardable==0.4.1
fritz==2.1.4
fsspec==2022.5.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
fuzzywuzzy==0.18.0
g2p-en==2.1.0
gast==0.4.0
gdown==3.8.3
gensim==4.0.0
gevent==1.4.0
gevent-websocket==0.10.1
gitdb==4.0.5
gitdb2==2.0.5
GitPython==3.1.7
glob2==0.7
gmpy2==2.1.0b1
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googletrans==3.0.0
gorilla==0.3.0
gradient==0.9.0
gradient-utils==0.1.3
grandalf==0.6
graphviz==0.11.1
greenlet==0.4.15
grpcio==1.34.1
gspread==4.0.1
gunicorn==19.9.0
h11==0.9.0
h2==3.2.0
h5py==3.1.0
halo==0.0.29
HeapDict==1.0.1
hpack==3.0.0
hstspreload==2020.2.15
html2text==2020.1.16
html5lib==1.0.1
-e git+ssh://git@github.com/hdmamin/htools.git@95964cabca561efe118ed3a034d5816e0499d472#egg=htools
httpcore==0.9.1
httplib2==0.18.1
httptools==0.0.13
httpx==0.13.3
huggingface-hub==0.6.0
humanfriendly==9.1
hydra-core==1.1.0
hyperframe==5.2.0
hyperlink==19.0.0
hyperopt==0.1.2
icalendar==4.0.4
identify==2.4.12
idna==3.3
imageio==2.6.1
imagesize==1.1.0
imgaug==0.4.0
importhook==1.0.9
importlib-metadata==4.11.4
importlib-resources==5.7.1
incremental==17.5.0
inflect==5.4.0
instaloader==4.5.3
intervaltree==3.0.2
invoke==0.23.0
ipykernel==5.1.3
ipyparallel==6.2.4
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jarowinkler==1.0.2
jdcal==1.4.1
jedi==0.18.0
jellyfish==0.8.2
jieba3k==0.35.1
Jinja2==2.10.3
jinja2-time==0.2.0
jmespath==0.9.4
joblib==0.14.0
json5==0.8.5
jsonpickle==1.5.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-book==0.11.1
jupyter-cache==0.4.2
jupyter-client==6.1.12
jupyter-cogram==0.7.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-kite==2.0.2
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.9.0
jupyter-server-mathjax==0.2.3
jupyter-sphinx==0.3.2
jupyterbook-latex==0.3.1
jupyterlab==1.2.3
jupyterlab-server==1.0.6
jupytext==1.10.3
justpy==0.0.5
kaggle==1.5.5
keras==2.9.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==20.0.0
kitchen==1.2.6
Kivy==2.0.0
Kivy-Garden==0.1.4
kivymd==0.104.1
kiwisolver==1.1.0
kmodes==0.11.0
kombu==5.0.2
kornia==0.3.1
langcodes==3.3.0
langdetect==1.0.9
latexcodec==2.0.1
lazy-object-proxy==1.4.3
lesscpy==0.13.0
libarchive-c==2.9
libclang==14.0.1
lief==0.9.0
lightning-bolts==0.3.4
line-profiler==3.0.2
lingfeat==1.0.0b19
linkify-it-py==1.0.1
llvmlite==0.29.0
locket==0.2.0
log-symbols==0.0.14
loguru==0.5.3
lolviz==1.4.3
lxml==4.4.2
macholib==1.14
mailchecker==4.1.17
Mako==1.1.3
marisa-trie-m==0.7.6
Markdown==3.2.2
markdown-it-py==0.6.2
MarkupSafe==1.1.1
marshmallow==2.21.0
matplotlib==3.1.2
matplotlib-inline==0.1.2
mccabe==0.6.1
mdit-py-plugins==0.2.8
memory-profiler==0.57.0
metakernel==0.24.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlflow==1.10.0
mmh3==2.5.1
mock==3.0.5
modeval==1.4
modulegraph==0.18
monotonic==1.6
more-itertools==8.0.2
mosestokenizer==1.1.0
moto==3.0.5
mpmath==1.1.0
msgpack==0.6.2
msrest==0.6.21
multidict==5.0.2
multipledispatch==0.6.0
multiprocess==0.70.11.1
munkres==1.1.4
murmurhash==1.0.2
myst-nb==0.12.3
myst-parser==0.13.7
nanotime==0.5.2
navigator-updater==0.2.1
nbclient==0.5.3
nbconvert==5.6.1
nbdev==0.2.18
nbdime==3.1.0
nbformat==4.4.0
neovim==0.3.1
nest-asyncio==1.5.1
netifaces==0.10.9
networkx==2.6.3
newspaper3k==0.2.8
nlpaug==1.1.10
nltk==3.4.4
nodeenv==1.6.0
nose==1.3.7
num2words==0.5.10
numba==0.44.1
numexpr==2.7.1
numpy==1.21.5
numpydoc==0.9.1
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
okcupyd==1.0.0a6
olefile==0.46
omegaconf==2.1.0
onnx==1.11.0
onnx-tf==1.10.0
openai==0.18.1
opencv-python==4.3.0.36
opencv-python-headless==4.3.0.36
openfile==0.0.7
openpyxl==3.0.9
openstep-parser==1.4.0
opt-einsum==3.3.0
overrides==3.1.0
packaging==21.0
pandas==1.3.5
pandas-flavor==0.1.2
pandas-stubs==1.2.0.58
pandocfilters==1.4.2
panphon==0.19.1
parsel==1.5.2
parso==0.8.2
partd==1.0.0
path.py==12.0.2
pathlib2==2.3.5
pathos==0.2.7
pathspec==0.9.0
pathtools==0.1.2
pathy==0.6.1
patsy==0.5.1
pbxproj==2.7.0
pdbpp==0.10.3
pdfminer3k==1.3.1
pefile==2022.5.30
pep8==1.7.1
pexpect==4.7.0
phonenumbers==8.12.49
phruzz-matcher==0.0.4
pickleshare==0.7.5
Pillow==8.0.1
pipreqs==0.4.10
pkginfo==1.5.0.1
plac==1.1.3
platformdirs==2.5.1
plotly==4.2.1
pluggy==0.12.0
ply==3.11
-e git+ssh://git@github.com/hdmamin/portus.git@859147aa8aaefaaf3a1f22c50bbcd9655430d238#egg=portus
posthog==1.4.8
pox==0.2.9
poyo==0.5.0
ppft==1.6.6.3
praw==6.4.0
prawcore==1.0.1
pre-commit==2.18.1
preshed==3.0.2
progressbar2==3.51.3
prometheus-client==0.7.1
prometheus-flask-exporter==0.15.4
prompt-toolkit==3.0.8
Protego==0.1.16
protobuf==3.12.2
psutil==5.9.1
ptyprocess==0.6.0
py==1.8.0
py-cpuinfo==5.0.0
py-rouge==1.1
py2app==0.25
pyarrow==8.0.0
pyasn1==0.4.6
pyasn1-modules==0.2.7
PyAudio==0.2.11
pybind11==2.5.0
pybtex==0.24.0
pybtex-docutils==1.0.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydantic==1.8.2
pydata-sphinx-theme==0.6.3
pydeck==0.4.0b1
pyDeprecate==0.3.1
PyDispatcher==2.0.5
pydocstyle==4.0.1
pydot==1.4.2
pydub==0.25.1
pyenchant==3.2.2
pyflakes==2.1.1
pygit2==1.9.2
PyGithub==1.46
pyglet==1.4.10
pyglet-ffmpeg2==0.1.17
Pygments==2.12.0
pygtrie==2.4.1
PyHamcrest==1.9.0
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
PyJWT==1.7.1
pylint==2.4.4
pymongo==3.10.1
Pympler==0.8
pynvim==0.4.0
pyobjc==7.2
pyobjc-core==7.2
pyobjc-framework-Accounts==7.2
pyobjc-framework-AddressBook==7.2
pyobjc-framework-AdSupport==7.2
pyobjc-framework-AppleScriptKit==7.2
pyobjc-framework-AppleScriptObjC==7.2
pyobjc-framework-ApplicationServices==7.2
pyobjc-framework-Automator==7.2
pyobjc-framework-AVFoundation==7.2
pyobjc-framework-AVKit==7.2
pyobjc-framework-BusinessChat==7.2
pyobjc-framework-CalendarStore==7.2
pyobjc-framework-CFNetwork==7.2
pyobjc-framework-CloudKit==7.2
pyobjc-framework-Cocoa==7.2
pyobjc-framework-Collaboration==7.2
pyobjc-framework-ColorSync==7.2
pyobjc-framework-Contacts==7.2
pyobjc-framework-ContactsUI==7.2
pyobjc-framework-CoreAudio==7.2
pyobjc-framework-CoreAudioKit==7.2
pyobjc-framework-CoreBluetooth==7.2
pyobjc-framework-CoreData==7.2
pyobjc-framework-CoreLocation==7.2
pyobjc-framework-CoreMedia==7.2
pyobjc-framework-CoreMediaIO==7.2
pyobjc-framework-CoreMIDI==7.2
pyobjc-framework-CoreML==7.2
pyobjc-framework-CoreServices==7.2
pyobjc-framework-CoreSpotlight==7.2
pyobjc-framework-CoreText==7.2
pyobjc-framework-CoreWLAN==7.2
pyobjc-framework-CryptoTokenKit==7.2
pyobjc-framework-DictionaryServices==7.2
pyobjc-framework-DiscRecording==7.2
pyobjc-framework-DiscRecordingUI==7.2
pyobjc-framework-DiskArbitration==7.2
pyobjc-framework-DVDPlayback==7.2
pyobjc-framework-EventKit==7.2
pyobjc-framework-ExceptionHandling==7.2
pyobjc-framework-ExternalAccessory==7.2
pyobjc-framework-FinderSync==7.2
pyobjc-framework-FSEvents==7.2
pyobjc-framework-GameCenter==7.2
pyobjc-framework-GameController==7.2
pyobjc-framework-GameKit==7.2
pyobjc-framework-GameplayKit==7.2
pyobjc-framework-ImageCaptureCore==7.2
pyobjc-framework-IMServicePlugIn==7.2
pyobjc-framework-InputMethodKit==7.2
pyobjc-framework-InstallerPlugins==7.2
pyobjc-framework-InstantMessage==7.2
pyobjc-framework-Intents==7.2
pyobjc-framework-IOSurface==7.2
pyobjc-framework-iTunesLibrary==7.2
pyobjc-framework-LatentSemanticMapping==7.2
pyobjc-framework-LaunchServices==7.2
pyobjc-framework-libdispatch==7.2
pyobjc-framework-LocalAuthentication==7.2
pyobjc-framework-MapKit==7.2
pyobjc-framework-MediaAccessibility==7.2
pyobjc-framework-MediaLibrary==7.2
pyobjc-framework-MediaPlayer==7.2
pyobjc-framework-MediaToolbox==7.2
pyobjc-framework-Metal==7.2
pyobjc-framework-MetalKit==7.2
pyobjc-framework-MetalPerformanceShaders==7.2
pyobjc-framework-ModelIO==7.2
pyobjc-framework-MultipeerConnectivity==7.2
pyobjc-framework-NaturalLanguage==7.2
pyobjc-framework-NetFS==7.2
pyobjc-framework-Network==7.2
pyobjc-framework-NetworkExtension==7.2
pyobjc-framework-NotificationCenter==7.2
pyobjc-framework-OpenDirectory==7.2
pyobjc-framework-OSAKit==7.2
pyobjc-framework-Photos==7.2
pyobjc-framework-PhotosUI==7.2
pyobjc-framework-PreferencePanes==7.2
pyobjc-framework-Quartz==7.2
pyobjc-framework-SafariServices==7.2
pyobjc-framework-SceneKit==7.2
pyobjc-framework-ScreenSaver==7.2
pyobjc-framework-ScriptingBridge==7.2
pyobjc-framework-SearchKit==7.2
pyobjc-framework-Security==7.2
pyobjc-framework-SecurityFoundation==7.2
pyobjc-framework-SecurityInterface==7.2
pyobjc-framework-ServiceManagement==7.2
pyobjc-framework-Social==7.2
pyobjc-framework-SpriteKit==7.2
pyobjc-framework-StoreKit==7.2
pyobjc-framework-SyncServices==7.2
pyobjc-framework-SystemConfiguration==7.2
pyobjc-framework-UserNotifications==7.2
pyobjc-framework-VideoSubscriberAccount==7.2
pyobjc-framework-VideoToolbox==7.2
pyobjc-framework-Vision==7.2
pyobjc-framework-WebKit==7.2
pyodbc==4.0.27
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyPDF2==1.26.0
pyperclip==1.8.1
Pyphen==0.10.0
pypi-publisher==0.0.4
PyPrind==2.11.2
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtWebEngine==5.12.1
pyrepl==0.9.0
pyrsistent==0.15.6
PySMT==0.9.1.dev132
PySocks==1.7.1
pytest==5.3.1
pytest-arraydiff==0.3
pytest-astropy==0.6.0
pytest-astropy-header==0.1.1
pytest-benchmark==3.2.2
pytest-doctestplus==0.4.0
pytest-mock==3.1.1
pytest-openfiles==0.4.0
pytest-remotedata==0.3.1
PyTextNow==1.1.7
pytextrank==2.0.3
python-benedict==0.25.1
python-dateutil==2.8.1
python-docx==0.8.11
python-dotenv==0.17.0
python-editor==1.0.4
python-fsutil==0.6.1
python-instagram==1.3.2
python-jsonrpc-server==0.3.2
python-language-server==0.31.2
python-Levenshtein==0.12.0
python-ptrace==0.9.8
python-slugify==6.1.2
python-utils==2.3.0
pytiled-parser==0.9.2
pytorch-lightning==1.4.0
pytrends==4.7.3
pyttsx3==2.90
pytz==2020.5
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==6.0
pyzmq==18.1.1
QDarkStyle==2.7
QtAwesome==0.6.0
qtconsole==4.6.0
QtPy==1.9.0
quantulum3==0.7.10
querystring-parser==1.2.4
questionary==1.10.0
queuelib==1.5.0
rank-bm25==0.2.2
rapidfuzz==2.0.7
readme-renderer==24.0
redis==3.5.3
regex==2021.11.10
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
responses==0.18.0
retrying==1.3.3
rfc3986==1.3.2
rich==12.4.4
rope==0.14.0
rsa==3.4.2
Rtree==0.9.7
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3fs==2022.5.0
s3transfer==0.3.7
sacremoses==0.0.38
scikit-image==0.16.2
scikit-learn==1.0.2
scipy==1.7.3
scmrepo==0.0.19
Scrapy==1.8.0
seaborn==0.9.0
selenium==3.141.0
semantic-version==2.8.5
Send2Trash==1.5.0
sense2vec==2.0.0
sentence-transformers==2.2.0
sentencepiece==0.1.85
seqeval==1.2.2
service-identity==18.1.0
sgmllib3k==1.0.0
Shapely==1.7.0
shellingham==1.3.2
shortuuid==1.0.9
shtab==1.5.4
simplegeneric==0.8.1
simplejson==3.17.2
singledispatch==3.4.0.3
sip==4.19.18
six==1.16.0
slate3k==0.5.3
smart-open==5.2.1
smmap==3.0.4
smmap2==2.0.5
sniffio==1.1.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
SoundsLike==0.0.11
soupsieve==1.9.4
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
spacy-wordnet==0.0.4
SpeechRecognition==3.8.1
Sphinx==2.2.2
sphinx-book-theme==0.1.0
sphinx-comments==0.0.3
sphinx-copybutton==0.4.0
sphinx-external-toc==0.2.2
sphinx-panels==0.5.2
sphinx-rtd-theme==0.4.3
sphinx-thebe==0.0.8
sphinx-togglebutton==0.2.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-bibtex==2.2.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spinners==0.0.24
spyder==4.0.0
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
sqlparse==0.3.1
srsly==2.4.2
stanza==1.3.0
starlette==0.13.1
statsmodels==0.10.2
-e git+ssh://git@github.com/hdmamin/stormlight.git@0026f767f56afea2a2089b855abeb97b2bdc08ab#egg=stormlight&subdirectory=lib
streamlit==0.74.1
streamlit-cropper==0.1.3
-e git+ssh://git@github.com/hdmamin/style-transfer-app.git@c61c0819afff6eee26b5e917144f693c85944ca6#egg=style_transfer&subdirectory=lib
styleformer @ git+https://github.com/PrithivirajDamodaran/Styleformer.git@a4256336d5cd05a5128d3294f8d0afe3946de970
supar==1.1.4
sympy==1.4
tables==3.6.1
tabulate==0.8.7
taskw==1.2.0
taskwarrior-capsules==0.3.2
tblib==1.4.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.9.0
tensorflow-addons==0.15.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-probability==0.16.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
textaugment==1.3.4
textblob==0.15.3
textstat==0.7.0
thinc==8.0.15
threadpoolctl==2.1.0
tika==1.24
tinysegmenter==0.3
tk==0.1.0
tldextract==3.1.0
tokenizers==0.12.1
toml==0.10.2
toolwrapper==2.1.0
toolz==0.10.0
torch==1.10.2
torch-lucent==0.1.2
torchmetrics==0.4.1
torchvision==0.11.3
tqdm==4.64.0
traitlets==4.3.3
transformers==4.19.2
ttkthemes==2.4.0
twine==1.13.0
Twisted==19.10.0
typeguard==2.13.3
typer==0.4.0
typing_extensions==4.2.0
tzlocal==2.0.0
uc-micro-py==1.0.1
uctools==1.3.0
ujson==1.35
unicodecsv==0.14.1
Unidecode==1.0.23
update-checker==0.16
urllib3==1.26.7
urwid==2.1.0
uvicorn==0.11.2
uvloop==0.14.0
vaderSentiment==3.3.2
validators==0.15.0
verlib==0.1
vine==5.0.0
virtualenv==20.14.0
voluptuous==0.13.1
w3lib==1.21.0
wasabi==0.9.0
watchdog==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==0.16.1
whichcraft==0.6.0
widgetsnbextension==3.5.1
wikipedia==1.4.0
Wikipedia-API==0.5.4
wmctrl==0.4
word2number==1.1
wordnet==0.0.1b2
wordninja==2.0.0
wrapt==1.12.1
wurlitzer==1.0.3
xlrd==1.2.0
XlsxWriter==1.2.6
xlwings==0.16.2
xlwt==1.3.0
xmltodict==0.12.0
xxhash==3.0.0
yapf==0.28.0
yarg==0.1.9
yarl==1.6.3
youtube-transcript-api==0.4.1
zc.lockfile==2.0
zerocater==0.0.1
zict==1.0.0
zipp==3.5.0
zope.interface==4.7.1
