banana-dev==2.0.2
colorama==0.4.3
htools[speedup]==6.8.0
nltk==3.4.4
numpy==1.21.6
openai==0.18.1
pandas==0.25.3
pillow==8.1.0
pyyaml==5.2
transformers==4.19.2
wikipedia==1.4.0
youtube-transcript-api==0.4.1
